@charset "utf-8";
.content {
    width:800px;
    height:850px;
    margin:50px auto 10px auto;
}
.login-form {
    width:800px;
    height:800px;
    margin:70px auto 0;
    padding-top:73px;
    position:relative;
    background-image:-*-linear-gradient(top,rgb(255,255,255),rgb(242,242,242));
    box-shadow:0 3px 3px rgba(21,62,78,0.8);
}
.pro_img {
    content:"";
    position:absolute;
    top:-50px;
    left:150px;
    width:102px;
    height:102px;
    padding:2px;
    border:1px solid rgb(216,216,219);
    background-color:#f9f9f9;
    background-url:(../img/profilepicture.jpg);
}

.login-form div {
    width:750px;
    height:30px;
    margin:20px auto;
    position:relative;
    line-height:28px;
    border:none;
}
.login-form .user-icon{
    display:inline-block;
    font-family: 'loginform-icon';
    font-size:20px;
    text-align:center;
    line-height:28px;
    position:absolute;
    left:1px;
    top:1px;
    background-color:rgb(255,255,255);
    border:none;
    border-right:1px solid rgb(229,229,232);
    width:50px;
    height:28px;
    transition: all 300ms linear;
}
.login-form .username input,.login-form .username a{
	font-size:20px;
    text-align:center;
    height:100%;
    width:calc(100% - 40px);
    padding-left:40px;
    border-radius:2px;
    border:1px solid;
    border-color:rgb(229,229,232) rgb(220,220,221) rgb(213,213,213) rgb(220,220,221);
    display:block;
    transition: all 300ms linear;
}

.login-form .username #pro_a{
	
    width:calc(100% - 40px);
    padding-left:40px;
    border-radius:2px;
      transition: all 300ms linear;
}



.login-form .username input:focus + span{
    background:-*-linear-gradient(top,rgb(255,255,255),rgb(245,245,245));
    color:rgb(51,51,51);
}
.login-form .username input:focus + span:after{
    border-left-color:rgb(250,250,250);
}



